<footer class="footer">
    <div class="container text-center">
        <a class="cc-linkedin btn btn-link " href="https://www.linkedin.com/in/khurtado801/" target="_blank" rel="tooltip" title="Follow me on Linkedin">
            <i class=" fa fa-linkedin fa-2x " aria-hidden="true"></i>
        </a>
        <a class="cc-github btn btn-link " href="https://github.com/khurtado801" target="_blank" rel="tooltip" title="Follow me on Github">
            <i class="fa fa-github fa-2x " aria-hidden="true"></i>
        </a>
    </div>
</footer>
