<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Education</div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">

                            <h3><p class="cc-education-year">2017</p></h3>
                        <div class="h6"><h5><p>Certification</p></h5></div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body card-body-education">
                            <div class="h4">Certified Full Stack Developer</div>
                                <h4 class="category">V-School</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                          <h3><p class="cc-education-year">2013-2016</p></h3>
                          <div class="h6"><h5><p>Degree</p></h5></div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body card-body-education">
                            <div class="h4">Associate of Applied Science in Computer Science </div>
                            <h4 class="category">Weber State University</h4>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
