<div class="section" id="experience">
  <div class="container py-2 cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="row">

      <ul class="timeline">
        <li>
          <div class="timeline-badge down">
            <i class="fa fa-users"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">STG Consulting</div>
                <div class="h6 mt-0 title">Desktop Support Technician (part-time)</div>
                <p align="justify">Managed end-user accounts and permissions with G Suite</p>
                <p align="justify">Responded to support requests from end users and patiently walked individuals through basic troubleshooting tasks</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">IT Systems Support/Management</li>
                    <li class="non_list">Web Development</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">G Suite</li>
                        <li class="non_list">AD</li>
                        <li class="non_list">DNS</li>
                        <li class="non_list">DHCP</li>
                        <li class="non_list">ShoreTel</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">React</li>
                        <li class="non_list">AngularJS</li>
                        <li class="non_list">Angular</li>
                        <li class="non_list">MySQL</li>
                        <li class="non_list">BitBucket</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge up bg-green">
            <i class="fa fa-thumbs-up"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title experience-title">Rakuten Marketing</div>
                <div class="h6 mt-0 title experience-title">Intermediate System Administrator</div>
                <p align="justify">Supported MS Server 2013, AD, DHCP, DNS, and creation of VPN accounts on OpenBSD</p>
                <p align="justify">Configure local Apache Server on MacOS for local and remote creative developers</p>
                <p align="justify">Installation and replacement of Dell EMC PowerSwitches</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">IT Systems Administration/Support</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">AD</li>
                        <li class="non_list">DNS</li>
                        <li class="non_list">DHCP</li>
                        <li class="non_list">TCP/IP</li>
                        <li class="non_list">Dell EMC PowerSwitch</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">OpenBSD</li>
                        <li class="non_list">macOS</li>
                        <li class="non_list">Windows 7/10</li>
                        <li class="non_list">Jira</li>
                        <li class="non_list">Avaya</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <li>
          <div class="timeline-badge down">
            <i class="fa fa-windows"></i>
          </div>
          <div class="timeline-panel">
            <div class="row">
              <div class="col-lg-6 ">
                <div class="h5 mt-0 title">Durham Jones and Pinegar</div>
                <div class="h6 mt-0 title">Software Support Specialist</div>
                <p align="justify">Continuous support of over 90 attorneys and 40 staff members across two states and five cities</p>
                <p align="justify">Managed user and computer accounts using Microsoft's Active Directory and Group Policies in MS Server 2008</p>
                <p align="justify">Implemented desktop imaging solution with Microsoft Deployment Toolkit, using Lite-Touch, for the deployment and management of standardized images for employee computers</p>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li class="list">Core Functionality</li>
                  <ul>
                    <li class="non_list">IT Systems Support</li>
                  </ul>
                  <li class="list">Technologies and Language</li>
                  <ul>
                    <div class="row">
                      <div class="col-md-6">
                        <li class="non_list">AD</li>
                        <li class="non_list">DNS</li>
                        <li class="non_list">DHCP</li>
                        <li class="non_list">TCP/IP</li>
                        <li class="non_list">MS Group Policy</li>
                        <li class="non_list">MS Deployment Toolkit LTI</li>
                      </div>
                      <div class="col-md-6">
                        <li class="non_list">ShoreTel</li>
                        <li class="non_list">Dell Kace Management</li>
                        <li class="non_list">Kaspersky Security Suite</li>
                        <li class="non_list">Postini</li>
                        <li class="non_list">WSUS</li>
                      </div>
                    </div>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
